// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #3645ee;
$yellow: #fff78e;
$orange: #E67E22;
$green: #1de3cf;
$purple: #6a47ff;
$pink: #ff487e;
$gray: #0E0000;
$light-gray: #F4F4F4;
