// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

@font-face {
  src: font-url('/../fonts/Cocogoose_trial.otf');
  // src:url(asset_path("Cocogoose_trial.otf"));
}
// Define fonts for body and headers
$body-font: "Open Sans", "Roboto", "sans-serif";
$headers-font: "Cocogoose", "regular";

// To use a font file (.woff) uncomment following lines


// $my-font: "Font Name";
