// Specific CSS for your home-page
.blue {
  background-color: blue;
}

.navbar-lewagon {
  color: white
}


h1 {
  position: absolute;
  width: 991px;
  height: 200px;
  left: 143px;
  top: 199px;
  color: white;
  text-shadow: 1px 2px yellow;
  font-size: 54px;
}

.container-home {
  text-align: center;

  h1 {
    text-align: left;
  }

  a {
    position: absolute;
    bottom: 35%;
    left: 40%;
  }
}
