<div class="card-mission">
  <img src="https://pngimg.com/uploads/github/github_PNG15.png" alt="">
  <h3>Developer Ruby</h3>

  <div class="card-mission-info">
    <p>99€</p>
    <p>100 jours</p>
  </div>

</div>
