<div class="footer" id="footer-blue">
  <div class="footer-links-blue">
    <a href="#"><%= icon('fab', 'github') %></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> at Le Wagon Bordeaux
  </div>
</div>
