<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <a class="navbar-brand" href="#">
      <%= image_tag "logo-white.png" %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <div class="nav-center">
                <a href="#">Find a mission</a>
                <a href="#">Find a freelance</a>
                <a class= "btn-white" href="">Login</a>
            </div>
        </ul>
    </div>
</div>
