.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  width: 40%;
  margin-left : 28%;
  margin-top: -10px;
}

.flash-success {
  border: 4px solid #1EDD88;
}

.flash-warning {
  border: 4px solid #FFC65A;
}

.flash-danger {
  border: 4px solid #FD1015;
}
