.btn-pink {
  border: 1px solid #FF487E;
  padding: 12px 20px;
  color: white;
  border-radius: 50px;
  background-color: #FF487E;
  font-weight: bold;
}

.btn-pink:hover {
  color: #ff487e;
  background-color: transparent;
  border: 3px solid #ff487e;
  font-weight: bold;
  opacity: 1.5;
}
