.btn-blue {
  border: 1px solid blue;
  padding: 12px 20px;
  color: white;
  background-color: blue;
  border-radius: 50px;
  font-weight: bold;
  text-align: center;
  font-weight: bolder;
}

.btn-blue:hover {
  opacity: 0.6;
  color: white;
}
