.missions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin-top: 24px;
}

.box {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  min-height: 168px;
}

.card-mission {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    border: 2px solid #a9d2f9;
    border-radius: 6px;
    background-color: #fff;
    min-height: 168px;
    padding: 24px 18px;
    flex-basis: 100%;
  }

.card-mission-img {
  margin-bottom: 24px;
  text-align: center;
}

.logo-sm {
  width: 100px;
  height: 53px;
  object-fit: contain;
  display: inline;
}

.card-mission-info {
  display: flex;
  justify-content: space-between;
  padding: 28px 12px 0 28px;
}

.card-mission-info p {
  margin-bottom: 0;
  color: #6674FF;
}


