#footer-blue {
color: blue;
background-color: white;
}

.footer {
  // background-color: white;
  // color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 0px 50px;
  // position: absolute;
  bottom: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer-links-blue {
  display: flex;
  align-items: center;
}
.footer-links-blue a {
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  color: blue;
  opacity: 1;
}

.footer-links a:hover {
  color: yellow;
}

.footer .fa-heart {
  color: #ff487e;
}
