.navbar-lewagon {
  justify-content: space-between;
  background-color: blue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.btn-white {
  color: white;
  border: 1px solid white;
  padding: 8px 28px;
  border-radius: 50px;
  font-weight: lighter;
}

.nav-center-home a {
  float: left;
  text-align: center;
  padding: 10px 32px;
  color: white
}

.nav-center-home .dropdown-menu a {
  color: blue;
}

.nav-center-home .dropdown-menu {
  margin-right: 10px;
  border: 1px solid #ff487e;
}

a {
  color: white;
}

a:hover {
  opacity: 0.6;
  text-decoration: none;
}

.btn-white:hover {
  opacity: 0.6;
  border: 1px solid blue;
}

.dropdown-item a {
  color: black;
}
