.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.btn-white {
  color: white;
  border: 1px solid white;
  padding: 8px 28px;
  border-radius: 50px;
  font-weight: lighter;
}

.nav-center a {
  float: left;
  text-align: center;
  padding: 10px 32px;
}

a {
  color: white;
}

a:hover {
  color: yellow;
  text-decoration: none;
}

.btn-white:hover {
  color: yellow;
  border: 1px solid yellow;
}
