.mission {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-column-gap: 24px;
  margin-top: 24px;
}


.card-show {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid #a9d2f9;
    border-radius: 6px;
    background-color: #fff;
    min-height: 168px;
    padding: 24px 18px;
    margin-top: 28px;
    margin-bottom: 28px;
  }

.logo-lg {
  height: 128px;
  object-fit: contain;
  display: inline;
}

.card-show-gauche {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid #a9d2f9;
    border-radius: 6px;
    background-color: #fff;
    min-height: 168px;
    padding: 24px 18px;
    margin-top: 28px;
  }


