


<% @missions.each do |mission| %>
<div class="card-show">
  <%= mission.title %> <br> <br>
  <%= mission.description %> <br> <br>
  <%= mission.num_of_days %> <br> <br>
  <%= mission.daily_price %> <br> <br>
  </div>
<% end %>

