<div class="container">
    <div class="missions">
        <% @missions.each do |mission| %>
        <div class="card-mission">
            <div class="card-mission-img">
                <img src="<%= mission.logo %>" alt="" class="logo-sm">
            </div>
            <h3>
                <%= mission.title  %>
            </h3>
            <div class="card-mission-info">
                <p>
                    <%= mission.daily_price %> $ </p>
                <p>
                    <%= mission.num_of_days %> jours </p>
            </div>
        </div>
        <% end %>
    </div>
