<div class="container">

<div class="card-mission-show">

  <div class="card-mission-show-logo">
    <img src=" <%= @mission.logo %> " alt="", class="logo-lg">
  </div>

  <div class="card-mission-show-details">
    <h3> <%= @mission.title %> </h3>
    <%= @mission.description %>
  </div>
<br>
  <%= link_to "Apply", new_mission_candidature_path(@mission), class: "btn-blue"  %>
</div>

</div>
